extends  layout
block content
    style(type='text/css').
        .transparent {
            border: 0;
            background-color: transparent;
        }

        td {
            text-align: center;
        }

        .NAME {
            min-width: 120px;
        }
    .row
        .col-md-1
        .col-md-10
            #topic(style="text-align:center;")
                h2 聊城市兴华检测技术有限公司理化检测报告单
        .col-md-1
    form(method='post')
        .row
            .col-md-1
            .col-md-8
                #company
                    label 单位:
                    input.transparent.NAME(name="company", required="required")
            .col-md-3
                #ID
                    label 编号:
                    input.transparent(name="id", type='number' required="required")
            .col-md-1
        .row
            .col-md-12
                .table-responsive
                    table.table-hover.table-condensed(style="width:auto;")
                        //table(border='0', cellpadding='0', cellspacing='0')
                        tr
                            td(colspan='1' align='center') 浇注日期
                            td(colspan='4', align='center')
                                input(type='date', style="border:0px;background-color:transparent;", name="jzdate", autocomplete=true)
                            td(colspan='2', align='center') 收样日期
                            td(colspan='4', align='center')
                                input(type='date', style="border:0px;background-color:transparent;", name="sydate", autocomplete=true)
                            td(colspan='2', align='center') 报告日期
                            td(colspan='4', align='center')
                                input(type='date', style="border:0px;background-color:transparent;", name="bgdate", autocomplete=true)
                        tr(valign='middle')
                            td(colspan='1', rowspan='2', align='center') 式样名称
                            td(rowspan='2', align='center') 炉别
                            td(rowspan='2', align='center') 编号
                            td(rowspan='2', align='center') 碳%
                            td(rowspan='2', align='center') 硫%
                            td(rowspan='2', align='center') 硅%
                            td(rowspan='2', align='center') 磷%
                            td(rowspan='2', align='center') 锰%
                            td(rowspan='2', align='center') 铬%
                            td(rowspan='2', align='center') 铝%
                            td(rowspan='2', align='center') 铜%
                            td(rowspan='2', align='center') 硬度
                            td(colspan='5', align='center') 力学性能
                        tr(valign='middle')
                            td(colspan='2', align='center') 抗拉MPA
                            td 屈服MPA
                            td(colspan='2', align='center') 延伸%
                        - var ele = ['C','S','Si','P','Mn','Cr','Al','Cu'];
                        - for(var row = 0 ; row < 7 ; ++row) {
                            tr(valign='middle')
                                td
                                    input.form-control.transparent.NAME(type='text', name="name" + "_" + row)
                                td
                                    input.form-control.transparent.NAME(type='text', name="hearth" + "_" + row)
                                td
                                    input.form-control.transparent.NAME(type='text', name="number" + "_" + row)
                                - for(var col = 0 ; col < 8 ; ++col) {
                                    td
                                        input.form-control.transparent(type='text', name=ele[col] + "_" + row)
                                -}
                                td
                                    input.form-control.transparent(type='text', name="hardness" + "_" + row)
                                td(colspan=2)
                                    input.form-control.transparent(type='text', name="MPA" + "_" + row)
                                td
                                    input.form-control.transparent(type='text', name="unknown1" + "_" + row)
                                td(colspan=2)
                                    input.form-control.transparent(type='text', name="unknown2" + "_" + row)
                        -}
                        tr
                            td(colspan=1) 分析者
                            td(colspan=5)
                                input.form-control.transparent.NAME(type='text', name="fxz")
                            td(colspan=2) 审核
                            td(colspan=4)
                                input.form-control.transparent.NAME(type='text', name="shyj")
                            td(colspan=2) 日期
                            td(colspan=2)
                                input(type='date', style="border:0px;background-color:transparent;", name="shrq")
                        tr
                            td(colspan=1) 处理意见
                            td(colspan=11)
                                //te.form-control.transparent.NAME(type='text',
                                textarea.form-control.transparent(name="clyj")
                            td(colspan=2) 日期
                            td(colspan=2)
                                input(type='date', style="border:0px;background-color:transparent;", name="clrq")
        .row
            .col-md-1
            .col-md-3
                p 本化验结果仅指来样而言
            .col-md-2
                p 联系人:赵新华
            .col-md-2
                p 联系电话:0635-2186076
            .col-md-2
                p 手机:13181065808
        .row
            .col-md-1
            .col-md-2
            .col-md-4
                button.btn.btn-primary.btn-lg(type='submit') 保存
            .col-md-3
                button.btn.btn-primary.btn-lg 打印
    //script.
    //    $(function () {
    //        $('.NAME').unbind('keydown').bind("keyup", function () {
    //            //输入框 自适应宽度
    //            var input = $(this)
    //            var size = input.val().length;
    //            var base = 12
    //            if(size > 8)
    //            input.width(size * base+30);
    //        });
    //    });
