extends layout

block content
  style(type='text/css').
    .transparent{
      border: 0;
      background-color: transparent;
    }
    td {
      text-align: center;
    }
    .NAME {
      min-width:60px;
    }
  form(method='post')
    .row
      .col-md-1
      .col-md-8
        #company
          label 单位:
          input.transparent.NAME(name="company")
      .col-md-3
        #ID
          label 编号:
          input.transparent(name="id")

      .col-md-1
    .row
      .col-md-12
         .table-responsive
           table.table.table-bordered.table-hover.table-condensed(style="width:auto;")
             //table(border='0', cellpadding='0', cellspacing='0')
             tr
               td(colspan='1' align='center') 浇注日期
               td(colspan='4', align='center')
                  input(type='date', style="border:0px;background-color:transparent;", name="jzdate")
               td(colspan='2', align='center') 收样日期
               td(colspan='4', align='center')
                 input(type='date', style="border:0px;background-color:transparent;", name="sydate")
               td(colspan='2', align='center') 报告日期
               td(colspan='4', align='center')
                 input(type='date', style="border:0px;background-color:transparent;", name="bgdate")
             tr(valign='middle')
               td(colspan='1', rowspan='2', align='center') 式样名称
               td(rowspan='2', align='center') 炉别
               td(rowspan='2', align='center') 编号
               td(rowspan='2', align='center') 碳%
               td(rowspan='2', align='center') 硫%
               td(rowspan='2', align='center') 硅%
               td(rowspan='2', align='center') 磷%
               td(rowspan='2', align='center') 锰%
               td(rowspan='2', align='center') 铬%
               td(rowspan='2', align='center') 铝%
               td(rowspan='2', align='center') 铜%
               td(rowspan='2', align='center') 硬度
               td(colspan='5', align='center') 力学性能
             tr(valign='middle')
               td(colspan='2', align='center') 抗拉MPA
               td 看不清%
               td(colspan='2', align='center') 看不清%
             tr(valign='middle')
               td
                 input.form-control.transparent.NAME(type='text', name="1_1")
               td
                 input.form-control.transparent.NAME(type='text', name="1_2")
               td
                 input.form-control.transparent.NAME(type='text', name="1_3")
               td
                 input.form-control.transparent(type='text', name="1_4")
               td
                 input.form-control.transparent(type='text', name="1_5")
               td
                 input.form-control.transparent(type='text', name="1_6")
               td
                 input.form-control.transparent(type='text', name="1_7")
               td
                 input.form-control.transparent(type='text', name="1_8")
               td
                 input.form-control.transparent(type='text', name="1_9")
               td
                 input.form-control.transparent(type='text', name="1_10")
               td
                 input.form-control.transparent(type='text', name="1_11")
               td
                 input.form-control.transparent(type='text', name="1_12")
               td(colspan=2)
                 input.form-control.transparent(type='text', name="1_13")
               td
                 input.form-control.transparent(type='text', name="1_14")
               td(colspan=2)
                 input.form-control.transparent(type='text', name="1_15")
             tr(valign='middle')
               td
                   input.form-control.transparent.NAME(type='text', name="2_1")
               td
                   input.form-control.transparent.NAME(type='text', name="2_2")
               td
                   input.form-control.transparent.NAME(type='text', name="2_3")
               td
                   input.form-control.transparent(type='text', name="2_4")
               td
                   input.form-control.transparent(type='text', name="2_5")
               td
                   input.form-control.transparent(type='text', name="2_6")
               td
                   input.form-control.transparent(type='text', name="2_7")
               td
                   input.form-control.transparent(type='text', name="2_8")
               td
                   input.form-control.transparent(type='text', name="2_9")
               td
                   input.form-control.transparent(type='text', name="2_10")
               td
                   input.form-control.transparent(type='text', name="2_11")
               td
                   input.form-control.transparent(type='text', name="2_12")
               td(colspan=2)
                   input.form-control.transparent(type='text', name="2_13")
               td
                   input.form-control.transparent(type='text', name="2_14")
               td(colspan=2)
                   input.form-control.transparent(type='text', name="2_15")
             tr(valign='middle')
                 td
                     input.form-control.transparent.NAME(type='text', name="3_1")
                 td
                     input.form-control.transparent.NAME(type='text', name="3_2")
                 td
                     input.form-control.transparent.NAME(type='text', name="3_3")
                 td
                     input.form-control.transparent(type='text', name="3_4")
                 td
                     input.form-control.transparent(type='text', name="3_5")
                 td
                     input.form-control.transparent(type='text', name="3_6")
                 td
                     input.form-control.transparent(type='text', name="3_7")
                 td
                     input.form-control.transparent(type='text', name="3_8")
                 td
                     input.form-control.transparent(type='text', name="3_9")
                 td
                     input.form-control.transparent(type='text', name="3_10")
                 td
                     input.form-control.transparent(type='text', name="3_11")
                 td
                     input.form-control.transparent(type='text', name="3_12")
                 td(colspan=2)
                     input.form-control.transparent(type='text', name="3_13")
                 td
                     input.form-control.transparent(type='text', name="3_14")
                 td(colspan=2)
                     input.form-control.transparent(type='text', name="3_15")
             tr(valign='middle')
                 td
                     input.form-control.transparent.NAME(type='text', name="4_1")
                 td
                     input.form-control.transparent.NAME(type='text', name="4_2")
                 td
                     input.form-control.transparent.NAME(type='text', name="4_3")
                 td
                     input.form-control.transparent(type='text', name="4_4")
                 td
                     input.form-control.transparent(type='text', name="4_5")
                 td
                     input.form-control.transparent(type='text', name="4_6")
                 td
                     input.form-control.transparent(type='text', name="4_7")
                 td
                     input.form-control.transparent(type='text', name="4_8")
                 td
                     input.form-control.transparent(type='text', name="4_9")
                 td
                     input.form-control.transparent(type='text', name="4_10")
                 td
                     input.form-control.transparent(type='text', name="4_11")
                 td
                     input.form-control.transparent(type='text', name="4_12")
                 td(colspan=2)
                     input.form-control.transparent(type='text', name="4_13")
                 td
                     input.form-control.transparent(type='text', name="4_14")
                 td(colspan=2)
                     input.form-control.transparent(type='text', name="4_15")
             tr(valign='middle')
                 td
                     input.form-control.transparent.NAME(type='text', name="5_1")
                 td
                     input.form-control.transparent.NAME(type='text', name="5_2")
                 td
                     input.form-control.transparent.NAME(type='text', name="5_3")
                 td
                     input.form-control.transparent(type='text', name="5_4")
                 td
                     input.form-control.transparent(type='text', name="5_5")
                 td
                     input.form-control.transparent(type='text', name="5_6")
                 td
                     input.form-control.transparent(type='text', name="5_7")
                 td
                     input.form-control.transparent(type='text', name="5_8")
                 td
                     input.form-control.transparent(type='text', name="5_9")
                 td
                     input.form-control.transparent(type='text', name="5_10")
                 td
                     input.form-control.transparent(type='text', name="5_11")
                 td
                     input.form-control.transparent(type='text', name="5_12")
                 td(colspan=2)
                     input.form-control.transparent(type='text', name="5_13")
                 td
                     input.form-control.transparent(type='text', name="5_14")
                 td(colspan=2)
                     input.form-control.transparent(type='text', name="5_15")
             tr(valign='middle')
                 td
                     input.form-control.transparent.NAME(type='text', name="6_1")
                 td
                     input.form-control.transparent.NAME(type='text', name="6_2")
                 td
                     input.form-control.transparent.NAME(type='text', name="6_3")
                 td
                     input.form-control.transparent(type='text', name="6_4")
                 td
                     input.form-control.transparent(type='text', name="6_5")
                 td
                     input.form-control.transparent(type='text', name="6_6")
                 td
                     input.form-control.transparent(type='text', name="6_7")
                 td
                     input.form-control.transparent(type='text', name="6_8")
                 td
                     input.form-control.transparent(type='text', name="6_9")
                 td
                     input.form-control.transparent(type='text', name="6_10")
                 td
                     input.form-control.transparent(type='text', name="6_11")
                 td
                     input.form-control.transparent(type='text', name="6_12")
                 td(colspan=2)
                     input.form-control.transparent(type='text', name="6_13")
                 td
                     input.form-control.transparent(type='text', name="6_14")
                 td(colspan=2)
                     input.form-control.transparent(type='text', name="6_15")
             tr(valign='middle')
                 td
                     input.form-control.transparent.NAME(type='text', name="7_1")
                 td
                     input.form-control.transparent.NAME(type='text', name="7_2")
                 td
                     input.form-control.transparent.NAME(type='text', name="7_3")
                 td
                     input.form-control.transparent(type='text', name="7_4")
                 td
                     input.form-control.transparent(type='text', name="7_5")
                 td
                     input.form-control.transparent(type='text', name="7_6")
                 td
                     input.form-control.transparent(type='text', name="7_7")
                 td
                     input.form-control.transparent(type='text', name="7_8")
                 td
                     input.form-control.transparent(type='text', name="7_9")
                 td
                     input.form-control.transparent(type='text', name="7_10")
                 td
                     input.form-control.transparent(type='text', name="7_11")
                 td
                     input.form-control.transparent(type='text', name="7_12")
                 td(colspan=2)
                     input.form-control.transparent(type='text', name="7_13")
                 td
                     input.form-control.transparent(type='text', name="7_14")
                 td(colspan=2)
                     input.form-control.transparent(type='text', name="7_15")
             tr
               td(colspan=1) 分析者
               td(colspan=5)
                 input.form-control.transparent.NAME(type='text', name="fxz")
               td(colspan=2) 审核
               td(colspan=4)
                 input.form-control.transparent.NAME(type='text', name="shyj")
               td(colspan=2) 日期
               td(colspan=2)
                 input(type='date', style="border:0px;background-color:transparent;", name="shrq")
             tr
               td(colspan=1) 处理意见
               td(colspan=11)
                 //te.form-control.transparent.NAME(type='text',
                 textarea.form-control.transparent(name="clyj")
               td(colspan=2) 日期
               td(colspan=2)
                 input(type='date', style="border:0px;background-color:transparent;", name="clrq")

    .row
      .col-md-1
      .col-md-2
      .col-md-4
        button.btn.btn-primary.btn-lg(type='submit') 保存
      .col-md-3
        button.btn.btn-primary.btn-lg 打印
  script.
    $('input').unbind('keydown').bind("keyup",function(){
      //输入框 自适应宽度
      var inputTag=$(this);
      size = inputTag.val().length;
      var beta = 8;
      if(inputTag.hasClass('NAME'))beta = 15;
      //inputTag.attr("size",(size==0?1:size)*beta);
      inputTag.width(size*beta);
    });
